<h1>Create a New Team</h1>

<p>
Teams are groups of people that are working on the same bots.  By creating or
joining a team you allow other team members to update information about your
teams bots.
</p>
<%= render 'form' %>

<%= link_to 'Back', teams_path %>
