- if contender_signed_in?
  %li
    = "Welcome #{current_contender.username}!, Not you? "
    = link_to "logout", destroy_contender_session_path
- else
  %li
    = link_to "login", new_contender_session_path
