%p
  .notice
  =notice

%h1 Contenders
%p
  List of registered contenders
%table
  %tr
    %th Username
    %th Email
    %th Hackerspace
    %th Bots
    %th
  - @contenders.each do |c|
    %tr
      %td
        =c.username
      %td
        =c.email
      %td
        -if c.hackerspace
          =c.hackerspace.name
      %td
        =c.sumobots.size
      %td

= form_for(:email, :url => admin_email_contenders_path) do |f|
  = f.label :subject
  = f.text_field :subj
  %br
  =f.text_area :body
  %br
  = f.submit "Email All Contenders"

