<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Sumobot Update Email</h1>
    <p>
      Hello  <%= @contender.username %>.
    </p>
    <p>
      <%= @body %>
    </p>
    <p>This message was sent from the Admin team at <%= @url %></p>
  </body>
</html>
