%h1="Sumobot Competitions Administration"
%p
 = "Let the games begin!"
- @sumobots = Sumobot.find(:all)
= "A total of #{@sumobots.size} sumobots are registered."
%br
= link_to "Quick Match", new_match_path

